@model WotBlitzStatician.ViewModel.TankDeltaViewModel
@{
}
<table width="100%">
	<tr>
		<td rowspan="2" width="124" height="73" valign="top">
			<table style="background-image: url(../../img/flags/@(Model.BlitzTankInfo.Nation).png); background-repeat: no-repeat; background-size: 100% 100%;">
				<tr>
					<td rowspan = "3" width="100" height="73">
						<img src ="@Model.BlitzTankInfo.PreviewImageUrl" width="100%" height="100%"/>
					</td>
					<td width="24" height="24">
					</td>
				</tr>
				<tr>
					<td width="24" height="24">
					</td>
				</tr>
				<tr>
					<td width="24" height="24">
						<img src = "@Model.BlitzTankInfo.MarkOfMasteryImageUrl" width="100%" height="100%"/>
					</td>
				</tr>
			</table>
		</td>
		<td width="24" height="24" align="center">
			<b>@Model.BlitzTankInfo.RomanTier</b>
		</td>
		<td>
			<img src = "../../img/tank-type@(Model.BlitzTankInfo.IsPremium ? "-prem" : "")/@(Model.BlitzTankInfo.Type).png" width="24" height="24"/>
		</td>
		<td> <b>@Html.DisplayFor(m => m.BlitzTankInfo.Name, null)</b></td>
	</tr>
	<tr>
		<td colspan="3">
			<table class="table">
			<thead>
			<tr>
				<td width="16%" align="center">Боёв</td>
				<td width="16%" align="center">Побед</td>
				<td width="16%" align="center">Wn7</td>
				<td width="16%" align="center">Ср. урон</td>
				<td width="16%" align="center">Ср. опыт</td>
				<td width="20%" align="center">Время в бою</td>
			</tr>
			</thead>
				<tr>
					<td align="center">@Html.DisplayFor(m => m.Statistics.Battles.PresentValue, null)<br /> <small>@Html.DisplayFor(m => m.Statistics.Battles.Delta, null)</small>
					</td>
					<td align="center">
						<b style="color: @(Model.Statistics.Winrate.PresentValue.GetWinrateGrade().GetColorByGrade())">
							@Html.DisplayFor(m => m.Statistics.Winrate.PresentValue, null)%
						</b>
						<br /> <small>@Html.DisplayFor(m => m.Statistics.Winrate.Delta, null)</small>
					</td>
					<td align="center">
						<b style="color: @(Model.Statistics.Wn7.PresentValue.GetWn7Grade().GetColorByGrade())">
							@Html.DisplayFor(m => m.Statistics.Wn7.PresentValue, null)
						</b>
						<br /> <small>@Html.DisplayFor(m => m.Statistics.Wn7.Delta, null)</small>
					</td>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.AvgDamage.PresentValue, null)<br /> <small>@Html.DisplayFor(m => m.Statistics.AvgDamage.Delta, null)</small>
					</td>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.AvgXp.PresentValue, null)<br /> <small>@Html.DisplayFor(m => m.Statistics.AvgXp.Delta, null)</small>
					</td>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.BattleLifeTime.PresentValue, null)<br /> <small>@Html.DisplayFor(m => m.Statistics.BattleLifeTime.Delta, null)</small>
					</td>
				</tr>
				<tr>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.Battles.Interval, null)
					</td>
					<td align="center">
						<b style="color: @(Model.Statistics.Winrate.Interval.GetWinrateGrade().GetColorByGrade())">
							@Html.DisplayFor(m => m.Statistics.Winrate.Interval, null)%
						</b>
					</td>
					<td align="center">
						<b style="color: @(Model.Statistics.Wn7.Interval.GetWn7Grade().GetColorByGrade())">
							@Html.DisplayFor(m => m.Statistics.Wn7.Interval, null)
						</b>
					</td>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.AvgDamage.Interval, null)
					</td>
					<td align="center">
						@Html.DisplayFor(m => m.Statistics.AvgXp.Interval, null)
					</td>
					<td align="center">
					  @Html.DisplayFor(m => m.Statistics.LastBattle.PresentValue, null)
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

