@model WotBlitzStatician.ViewModel.TankDeltaViewModel
@{
}
<table>
	<tr>
		<td rowspan="2" width="124" height="73" 
			style="background-image: url(../../img/flags/@(Model.Nation).png); background-repeat: no-repeat; background-size: 100% 100%;">
            <table>
				<tr>
                    <td rowspan = "3" width="100" height="73">
                        <img src ="@Model.PreviewImageUrl" width="100%" height="100%"/>
                    </td>
					<td width="24" height="24">
					</td>
				</tr>
			    <tr>
					<td width="24" height="24">
                    </td>
				</tr>
				<tr>
                    <td width="24" height="24">
                        <img src = "@Model.MarkOfMasteryImageUrl" width="100%" height="100%"/>
                    </td>
				</tr>
			</table>
		</td>
        <td width="24" height="24" align="center">
            <b>@Model.RomanTier</b>
        </td>
        <td>
            <img src = "../../img/tank-type@(Model.IsPremium ? "-prem" : "")/@(Model.Type).png" width="24" height="24"/>
        </td>
		<td>@Html.DisplayFor(m => m.Name, null)</td>
		<td style="padding-left: 10px">@Html.DisplayFor(m => m.PresentLastBattle, null) <small>@Html.DisplayFor(m => m.LastBattleDelta, null)</small></td>
	</tr>
	<tr>
	</tr>
</table>
