@model WotBlitzStatician.ViewModel.AccountInfoViewModel
@{
	ViewData["NickName"] = Model.NickName;
	ViewData["AccountId"] = Model.AccountId;
}

<h2>@Model.NickName []</h2>
<table class="table">
	<tr>
		<td>
			Последний бой
		</td>
		<td>
			@Html.DisplayFor(m => m.LastBattleTime, null)
		</td>
	</tr>
	<tr>
		<td>
			Боёв
		</td>
		<td>
			@Html.DisplayFor(m => m.Battles, null)
		</td>
	</tr>
	<tr>
		<td>
			Побед
		</td>
		<td>
			@Html.DisplayFor(m => m.Wins, null) (@Html.DisplayFor(m => m.Winrate, null)%)
		</td>
	</tr>
	<tr>
		<td>
			Wn7
		</td>
		<td class="@Model.Wn7Style"> <!--ToDo: Use javascript-->
			<b>
			@Html.DisplayFor(m => m.Wn7, null) (@Html.DisplayFor(m => m.Wn7GradeS, null))         
			</b>
		</td>
	</tr>
	<tr>
		<td>
			Средний урон
		</td>
		<td>
			@Html.DisplayFor(m => m.AvgDamage, null)
		</td>
	</tr>
	<tr>
		<td>
			Средний опыт
		</td>
		<td>
			@Html.DisplayFor(m => m.AvgXp, null)
		</td>
	</tr>
	<tr>
		<td>
			Танкоуровень
		</td>
		<td>
			@Html.DisplayFor(m => m.AvgTier, null)
		</td>
	</tr>
@*	<tr>*@
@*		<td>*@
@*		</td>*@
@*		<td>*@
@*			@Model.AccountInfo.AccountInfoStatistics*@
@*		</td>*@
@*	</tr>*@

</table>